{% extends 'base.html.twig' %}

{% block title %}
  {{ parent()}} Accueil 
{% endblock %}

{% block body %}

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-warning" type="submit">Search</button>
    </form>
  </div>
</nav>
    <h1>Liste des Clients</h1>

    {% if clients is empty %}
        <p>Aucun client trouvé.</p>
    {% else %}
        <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th>Contact</th>
                    <th>Entreprise</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.contactName }}</td>
                        <td>{{ client.companyName }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone ?: '—' }}</td>
                        <td><td><a class="btn btn-primary" href="{{ path('client_show', {'id': client.id}) }}">Show</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
